{% extends "base.html" %}

{% block title %}
ArtFlask
{% endblock %}

{% block css %}{% endblock %}

{% block script %}{% endblock %}

{% block page_head %}
About
{% endblock %}

{% block content %}

<div class = 'row'>

  <div class="col-lg-12">

    <h4 style='margin-top:0px;padding-top:0px;'>What is this?</h4>
    <p>Look at art. Decide what you think of its form (the structure) and content (the idea).</p>

<!--         <blockquote>
      <p>[T]he content of art is the Idea, while its form is the configuration
of sensuous material...</p>
<p>Only in the highest art are Idea and presentation truly in conformity with one another, in the sense that the shape given to the Idea is in itself the absolutely true shape, because the
content of the Idea which that shape expresses is itself the true and genuine content.</p>
      <footer>Hegel in <cite title="Source Title">Lectures on Aesthetics</cite></footer>
    </blockquote> -->

    <h4>Why did you build this?</h4>
    <p>Art can be puzzling. Having a framework to evaluate art, even a crude one, increases its accessiblity.</p>

    <h4>Don't people really criticize this framework?</h4>
    <p>Yes. Feel free to use a better one.</p>
<!--     <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tpeLSMKNFO4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div> -->

    <h4>Who are you?</h4>
    <p>We're <a href='http://anniejw.com/'>Annie</a> and <a href='https://civisanalytics.com/team/james-michelson/'>Jamie</a>.</p>

    <h4>Sources</h4>
    <p>All the artwork displayed on this site comes from the <a href='http://www.vam.ac.uk/'>Victoria and Albert Musuem</a> in London, UK.</p>
    <p>The code is on <a href="https://github.com/anniejw6/art_flask">GitHub</a>.</p>

    <h4>Further Reading</h4>
    <ul>
      <li>Susan Sontag: <a href='http://www.uiowa.edu/~c08g001d/Sontag_AgainstInterp.pdf'>"Against Interpretation"</a></li>
      <li>Cleanth Brooks: <a href='http://www.ux1.eiu.edu/~rlbeebe/heresy.pdf'>"The Heresy of Paraphrase"</a></li>
      <li>Alexander Nehamas: <a href='http://tannerlectures.utah.edu/_documents/a-to-z/n/Nehamas_02.pdf'>"A Promise of Happiness: The Place of Beauty in a World of Art"</a></li>
      <li>Georg Hegel: <i><a href='http://timothyquigley.net/vcs/hegel-aesth8.pdf'>Lectures on Aesthetics</a></i></li>
    </ul>
  </div>
</div>

{% endblock %}