<!DOCTYPE HTML>
<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>flask+d3 Hello World</title>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <style>
            dot {
                fill:black;
                stroke:#999999;
            }
        </style>
    </head>
    
    <body>
        <script>
            function click() {
                // Ignore the click event if it was suppressed
                if (d3.event.defaultPrevented) return;

                //remove all circles
                var circle = svg.selectAll("circle").remove();

                // Extract the click location\    
                var point = d3.mouse(this),
                    p = {
                        x: point[0],
                        y: point[1]
                    };

                // Append a new point
                svg.append("circle")
                    .attr("transform", "translate(" + p.x + "," + p.y + ")")
                    .attr("r", "5")
                    .attr("class", "dot")
                    .style("cursor", "pointer")
            }

            // Create the SVG
            var svg = d3.select("body").append("svg")
                .attr("width", 700)
                .attr("height", 400)
                .on("click", click);

            // Add a background
            svg.append("rect")
                .attr("width", 700)
                .attr("height", 400)
                .style("stroke", "#999999")
                .style("fill", "#F6F6F6")
        </script>
    </body>

</html>
