{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename = 'css/grid.css') }}" rel="stylesheet">
<style>
  dot {
    fill:black;
    stroke:#999999;
  }

  svg {

    display: block;
    margin: 0 auto;
    /*border: dashed;*/
  }


  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; /* whatever padding is */
  }

  button{
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endblock %}

{% block page_head %}
Hello, {{ user1.nickname }}!
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <img class="displayed" src="{{image_url}}">
  </div>
  <div class="col-md-6">
    <div class="chartinput"> </div> 
    <script src="{{ url_for('static', filename = 'js/index_script.js') }}"></script> 
  </br>
  <form>
    <center> <button class="btn btn-default" type="submit">Submit</button> </center>
  </form>
</div>
{% endblock %}